.landingpage{
    height: 100vh;
    background-color: var(--dark-navy);
}
.main{
    width: 75%;
    position: relative;
    top: 200px;
    padding: 2rem;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
    max-width: 1000px;
}
.loginform{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}